<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="104857600" name="BasicHttpBinding_IImageService" >
          <readerQuotas maxArrayLength="1000000000" maxStringContentLength="100000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61393/ImageService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IImageService" contract="ImageServiceReferense.IImageService"
          name="BasicHttpBinding_IImageService" />
    </client>
  </system.serviceModel>
</configuration>
